/* add css hh*/
.aKh{
    background-color: rgba(255, 255, 255, 0.404)!important;
}
.aRs{
    background-color: rgba(255, 255, 255, 0.404)!important;
}
.aKB>.a2q{
    background-color: rgba(255, 255, 255, 0.404)!important;
}
.zE{
    background-color: rgba(255, 255, 255, 0.114)!important;
    background: rgba(255, 255, 255, 0.104)!important;
}
.yO{
    background: rgba(255, 255, 255, 0.404)!important;
}
/*  */
.iY .Bu{
    background: rgba(255, 255, 255, 0.604)!important;
}
table{
    background: rgba(255, 255, 255, 0.404)!important;
}
.a3s>div{
    background: rgba(255, 255, 255, 0.404)!important;
}
.ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN{
    background: rgba(255, 255, 255, 0.804)!important;
}