/* add css */
.aKh{
    background-color: rgba(255, 255, 255, 0.404);
}
.aRs{
    background-color: rgba(255, 255, 255, 0.404);
}
.aKB>.a2q{
    background-color: rgba(255, 255, 255, 0.404);
}
.zE{
    background-color: rgba(255, 255, 255, 0.404);
}